{% extends 'onlinestore/main.html' %}
{% load static %}


{% block content %}
    <div class="row">
        {% for product in products %}
        <div class="col-lg-3 py-2">
            <img class='img-thumbnail rounded mx-auto d-block' src="{{product.imageURL}}" alt="">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">
                    <img src="{% static 'images/cart-plus.svg' %}" alt="">
                </button>
                <h5 style="display: inline-block; float: right; margin-bottom: 0;">Rp. {{product.price|floatformat:0}}</h5>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}